/*-- scss:defaults --*/
$navbar-bg:          #483C32 !default; // Taupe, A neutral, earthy color that complements warm tones
$navbar-fg:          #ffffff !default;

/*-- scss:rules --*/
.value-box-value {
  font-size: 3rem !important;
}
